#IVAO OAuth
ivao_redirect_uri= "http://localhost/assets/index.php" #IVAO Redirect URI
ivao_client_id="5dc864b5-65fe-4f8c-aa94-fe33c31e372f"
ivao_client_secret="NprtjVV0TANytmjSRcTqQVG5MGW2XXNy"
division_id="LB"
